/* dit bestand is een verwarring in samenspan met nav.css vanwege... dingen die eerst hier dan daar etc. gebouwd worden en nu staat het over al. */

button[class|="lijst"] {
	background-color: #0069ff;
}
button[class|="lijst"]:hover {
	background-color: #0069ffdd;
}
input[type="submit"] {
	line-height: 1;
}
[for="stapel-filters"] {
	display: block;
}
.opgepast.verzenden,
.actieknoppen.toevoegen {
	background-color: #5dccbc;
}
.opgepast.verzenden:hover,
.actieknoppen.toevoegen:hover {
	background-color: #4decd5;
}

.form-knoppen {
	margin-bottom: 0;
	width: 100%;
}
.form-knoppen + .form-knoppen {
	margin-top: 20px;
}

.form-knoppen > * ~ * {
	margin-top: 10px;
}

.actieveld {
	padding: 20px;
	background-color: white;
	border: 1px solid #ddd;
	display: none;
	vertical-align: top;
	border-radius: 0;
}

.actieform-rij {
	display: flex;
}

.actieform-rij > * {
	flex-grow: 1;
}
.actieform-rij > * + * {
	margin-left: 10px;
}

.selectie-filter {
	background-color: #c5afaf;
}
.selectie-filter:hover {
	background-color: #b59faf;
}

.sorteer-knoppen {
	background-color: #280202;
}
.sorteer-knoppen:hover {
	background-color: #230102;
}
.sorteer-knoppen::after {
	content: attr(data-postfix);
	margin-left: 5px;
}
.selectie-ongedaan {
	background: linear-gradient(35deg, #947070, #f0e4e4cc);
}
@media (max-width: 600px) {
	.actievelden {
		bottom: 0;
		right: 0;
		max-height: 100vh;
		width: 100vw;
		margin-top: 0;
		border: 0;
	}
	.actieveld {
		display: none;
	}

	/* sluit controls */
	#sluit-form-acties {
		display: block;
		background-color: #d73f3f;
		position: absolute;
		top: -20px;
		right: -20px;
		padding: 5px 10px;
	}
	#sluit-form-acties img {
		display: block;
	}

	#mobiel {
		display: block;
		margin-bottom: -10px;
	}
	#mobiel button {
		margin-bottom: 10px;
		display: none;
	}
}
