button[class|="lijst"] {
	background-color: #0069ff;
}
button[class|="lijst"]:hover {
	background-color: #0069ffdd;
}
input[type="submit"] {
	line-height: 1;
}
[for="stapel-filters"] {
	display: block;
}
.opgepast.verzenden {
	background-color: #22ce41;
}
.opgepast.verzenden:hover {
	background-color: #57cc6c;
}

.form-knoppen {
	margin-bottom: 0;
}
.form-knoppen > * {
	margin-bottom: 10px;
}

.actievelden {
	flex-direction: column;
	flex-basis: 300px;
	padding: 20px;
	background-color: #eee;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 100%;
}

.actievelden {
	/*margin-top: 20px;*/
}

.actieveld {
	padding: 20px;
	background-color: white;
	border: 1px solid #ddd;
	display: none;
	vertical-align: top;
	border-radius: 0;
}

.actieform-rij {
	display: flex;
}

.actieform-rij > * {
	flex-grow: 1;
}
.actieform-rij * + * {
	margin-left: 10px;
}

@media (max-width: 600px) {
	.actievelden {
		bottom: 0;
		right: 0;
		max-height: 100vh;
		width: 100vw;
		margin-top: 0;
		border: 0;
	}
	.actieveld {
		display: none;
	}

	/* sluit controls */
	#sluit-form-acties {
		display: block;
		background-color: #d73f3f;
		position: absolute;
		top: -20px;
		right: -20px;
		padding: 5px 10px;
	}
	#sluit-form-acties img {
		display: block;
	}

	#mobiel {
		display: block;
		margin-bottom: -10px;
	}
	#mobiel button {
		margin-bottom: 10px;
		display: none;
	}
}
