/*het rode blok om met de gebruiker te communiceren*/

#printer {
	position: fixed;
	max-width: 80%;
	left: 10%;
	top: 10%;
	max-height: 80vh;
	overflow-y: scroll;
	background-color: #d73f3f;
	border-radius: 0;
	display: none;
	z-index: 10000;
	padding: 40px;
	width: 580px;
}

.printer-inner {
	position: relative;
	padding-right: 40px;
}
#printer p {
	margin: 0;
	padding: 10px;
	color: white;
	font-weight: bold;
}
#printer p small {
	font-size: 0.66em;
	line-height: 0.66em;
}

#sluit-printer {
	text-decoration: none;
	color: white;
	padding: 10px;
	display: block;
	font-weight: bold;
	position: absolute;
	right: -40px;
	top: -40px;
}

#printer hr {
	margin: 0.75em 0;
}

#copyboard-succes {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.33em;
}

.print-buttons-text {
	display: block;
	margin-bottom: 0.33em;
}

.printer-buttons {
	margin-top: 20px;
}
@media (min-width: 1024px) {
	.print-button.tel-sms {
		opacity: 0.5;
	}
	.print-button.tel-sms:hover {
		cursor: not-allowed;
	}
}
.print-button {
	font-size: 1.5em;
	padding: 0.4em 0.6em;
	background-color: #877;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
}
.print-button + .print-button {
	margin-left: 0.5em;
}
.print-button:hover {
	cursor: pointer;
}
