.sleutelaars {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.sleutelaars div {
	box-sizing: border-box;

	text-align: center;
}
.sleutelaars.ontsleuteld {
	display: none;
}

.versleutelde-titel {
	color: white;
	font-variant: small-caps;
	font-size: 30px;
	padding: 0 20px;
}

.sleutelaars div + div {
	background-color: white;
}

.sleutelaars button {
	height: 50px;
	padding-right: 20px;
	text-transform: uppercase;
	background-position: 10px 10px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.sleutelaars .emoji-groot {
	font-size: 33px;
	line-height: 10px;
	position: relative;
	top: 6px;
}

.sleutelaars input {
	line-height: 50px;
	padding: 0 10px;
	border-width: 0px;
	min-width: 280px;
}
.sleutelaars input:focus {
	outline: 5px solid lightblue;
}

@media (max-width: 1024px) {
	.sleutelaars-inner-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.sleutelaars-inner-2 button {
		margin-top: 20px;
		width: 300px;
	}
}
