.sleutelaars {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	background-image: linear-gradient(90deg,rgba(255, 100, 0, .1) 0px, rgba(255, 100, 0, .1) 1px,
  transparent 6%, transparent 100%);
background-size: 50px 50px;

}
.sleutelaars--categorie {
	background: #212121;
	background-image: linear-gradient(180deg,rgba(255, 100, 0, .05) 0px, rgba(255, 100, 0, .05) 1px,
  transparent 6%, transparent 100%);	
	background-size: 50px 50px;
}

.sleutelaars div {
	box-sizing: border-box;

	text-align: center;
}
.sleutelaars.ontsleuteld {
	display: none;
}

.versleutelde-titel {
	color: white;
	font-variant: small-caps;
	font-size: 30px;
	padding: 0 20px;
	line-height: .85em;
}


.versleutelde-titel--kleiner {
	font-size: 24px;
	max-width: 310px;
	margin: 0 auto;
}
.versleutelde-titel--kleiner small {
	font-size: 0.6em;
}

.versleutelde-titel-rood {
	color: rgb(215, 63, 63)
}

.sleutelaars div + div {
	background-color: white;
}

.sleutelaars button {
	height: 50px;
	padding-right: 20px;
	text-transform: uppercase;
	background-position: 10px 10px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.sleutelaars .emoji-groot {
	font-size: 33px;
	line-height: 10px;
	position: relative;
	top: 6px;
}

.sleutelaars input {
	line-height: 50px;
	padding: 0 10px;
	border-width: 0px;
	min-width: 280px;
}
.sleutelaars input:focus {
	outline: 5px solid lightblue;
}

@media (max-width: 1024px) {
	.sleutelaars-inner-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.sleutelaars-inner-2 button {
		margin-top: 20px;
		width: 300px;
	}
}

.sleutelaars-inner-2 {
	display: flex;
}
.sleutelaars-inner-2 + .sleutelaars-inner-2 {
	margin-top: 30px;
	background: transparent;
	background-color: none;
}
.sleutelaars-inner-2 > * + * {
	margin-left: 10px;
}

.open-andere-bladen {
	width: 1px;
	height: 1px;
	opacity: 0.1;
	position: absolute;
	bottom: 1px;
	left: 1px;
	border: 0;
}
.open-andere-bladen-label {

background-color: #d03030;
line-height: 50px;
width: 100%;
text-align: center;
font-weight: bold;
color: white;
margin-left: 0 !important
}
.open-andere-bladen-label:hover {
	cursor: pointer;
}
.open-andere-bladen-label::after {
	content: 'Alleen dit blad openen';
}
.open-andere-bladen:focus + .open-andere-bladen-label {
	outline: 4px solid lightblue;

}
.open-andere-bladen:checked + .open-andere-bladen-label {
	background-color: #30d058;
}
.open-andere-bladen:checked + .open-andere-bladen-label::after {
	content: 'Open leden, contacten, bondg. ';
}