	.pers-lezen__naam {
  max-width: 5ch;
		max-height: 1.2ch
		overflow: hidden;
}
	.pers-lezen__telefoon, .pers-lezen__email {
		filter: blur(2px)
	}



body {
	font-family: "Verdana", "Arial";
	background-color: #1e1e1d;

	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
body.lenin-poster {
	/* background-image: url("/volg-het-ware-pad.jpg"); */ /* zie head */
	background-size: cover;
	background-position: top center;
}
body.succesvol-opgeslagen, body.mislukt-opgeslagen {
	margin: 0 !important;
	padding: 0 !important;
	height: 100vh !important;
	width: 100vw !important;
	overflow: hidden;
}
body.mislukt-opgeslagen {
	background-color: rgb(171, 29, 29);
	position: relative;
}
body.mislukt-opgeslagen::after {
	content: "SHIT!";
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4em;
	font-weight: bold;
	color: white;
}
body > * {
	transition: 1s ease-in-out 0.5s;
	opacity: 1;
}
body.succesvol-opgeslagen > .kop-en-knoppen, 
body.succesvol-opgeslagen > .formulier-en-controls, 
body.mislukt-opgeslagen > .kop-en-knoppen, 
body.mislukt-opgeslagen > .formulier-en-controls {
	opacity: 0;
}

[disabled]:hover {
	cursor: wait;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

button,
input[type="submit"],
select,
.rij-verwijderen,
.labels-als-button {
	background-color: #d73f3f;
	color: white;
	font-weight: bold;
	border: 0;
	line-height: 1;
	display: inline-block;
	min-height: 35px;
	border-radius: 0;
	padding: 10px;
}

button:hover,
input[type="submit"]:hover,
select:hover,
.rij-verwijderen:hover {
	cursor: pointer;
	background-color: #d03030;
}

[type="hidden"] {
	display: none !important;
}

.kop {
	font-weight: bold;
	line-height: 30px;
}

#mobiel {
	display: none;
}

#sluit-form-acties {
	display: none;
}

.formulier-en-controls {
	display: flex;
	flex-direction: row;
	background-color: #f4f2f2;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom right;
	justify-content: space-between;
}
.formulier-en-controls.categorie-leden{
	/* background-image: url('/afb/leden-categorie-achtergrond.png'); zie head */
}
.formulier-en-controls.categorie-contacten{
	/* background-image: url('/afb/contacten-categorie-achtergrond.png'); zie head */
}
.formulier-en-controls.categorie-bondgenoten{
	/* background-image: url('/afb/bondgenoten-categorie-achtergrond.png'); zie head*/
}
.verborgen {
	display: none !important;
}
