body {
	font-family: "Verdana", "Arial";
	background-color: #f5f5f5;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
body.voorbereid-op-afsluiten {
	background-image: url("/volg-het-ware-pad.jpg");
	background-size: cover;
	background-position: top center;
}
body.afsluiten {
	margin: 0 !important;
	padding: 0 !important;
	height: 100vh !important;
	width: 100vw !important;
	overflow: hidden;
}
body > * {
	transition: 1s ease-in-out 0.5s;
	opacity: 1;
}
body.afsluiten > * {
	opacity: 0;
}

[disabled]:hover {
	cursor: wait;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

button,
input[type="submit"],
select,
.rij-verwijderen {
	background-color: #d73f3f;
	color: white;
	font-weight: bold;
	border: 0;
	line-height: 1;
	display: inline-block;
	min-height: 35px;
	border-radius: 0;
	padding: 10px;
}

button:hover,
input[type="submit"]:hover,
select:hover,
.rij-verwijderen:hover {
	cursor: pointer;
	background-color: #d03030;
}

[type="hidden"] {
	display: none !important;
}

.kop {
	font-weight: bold;
	line-height: 30px;
}

#mobiel {
	display: none;
}

#sluit-form-acties {
	display: none;
}

.formulier-en-controls {
	display: flex;
	flex-direction: row;
	background-color: #f4f2f2;
}
